

<!-- users information -->

<div class="container mainContainer">
    <div class="userInfo">
        <div *ngIf="user">
            <img src="{{user.avatar_url}}" alt="imagem do Avatar" id="avatar">
            <div>
                <h2>{{user.name}}</h2>
                <p>{{user.login}}</p>
            </div>
            
            <!-- users stats -->
            <div>
                <div class="userInfobox">
                    <img src="../../../assets/organization icon.png" alt="">
                    <span class="userTextdata">{{user.bio}}</span>
                </div>        
                <div class="userInfobox">
                    <img src="../../../assets/location icon.png" alt="">
                    <span class="userTextdata">{{user.email}}</span>
                </div>
                <div class="userInfobox">
                    <img src="../../../assets/followers icon.png" alt="">
                    <span class="userTextdata">{{user.followers}}</span>
                </div>
                <div class="userInfobox">
                    <img src="../../../assets/following icon.png" alt="" style="height: 24px;">
                    <span class="userTextdata">{{user.following}}</span>
                </div>
                <div class="userInfobox">
                    <img src="../../../assets/repositorie icon.png" alt="">
                    <span class="userTextdata">{{user.public_repos}}</span>
                </div>
            </div>
        </div>
    </div>
    <!-- users repositories ordenado pelo número decrescente de estrelas -->
    <div class="reposInfo">
        <div>
            <ul>
                <li *ngFor="let repo of repository">
                    <p class="repoName">{{ repo.name }}</p>
                    <p>{{ repo.description }}</p>
                    <img src="../../../assets/star icon.png" alt="">
                    <span class="userTextdata">{{ repo.stargazers_count }}</span>
                </li>
            </ul>
        </div>
    </div>
</div>