 <!-- The ngSubmit event emits the original form submission event. -->

<div class="container d-flex flex-column">
        <div class="">
            <h1 class="github-search"><strong>Github </strong> <i>Search</i> </h1>
        </div>
        
        <div class="searchInput">
            <form (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <div class="input-group">
                        <input class="form-control" type="text" [(ngModel)]="searchText" name="searchText">
                        <button type="submit" class="searchButton">
                            <img src="../../../assets/Search Icon.png" alt="search icon">
                        </button>
                    </div>
                </div>
            </form>
        </div>
</div>


