<!-- users information -->

<div class="container mainContainer">
    <div class="userInfo">
        <app-link-pagina-inicial></app-link-pagina-inicial>
        <div *ngIf="user" class="espacamento">
            <img src="{{user.avatar_url}}" alt="imagem do Avatar" id="avatar">
            <div>
                <h2>{{user.name}}</h2>
                <p>{{user.login}}</p>
            </div>
            <!-- users stats -->
            <div>
                <div class="userInfobox">
                    <img src="../../../assets/organization_icon.png" alt="">
                    <span class="userTextdata">{{user.bio}}</span>
                </div>        
                <div class="userInfobox">
                    <img src="../../../assets/location_icon.png" alt="">
                    <span class="userTextdata">{{user.email}}</span>
                </div>
                <div class="userInfobox">
                    <img src="../../../assets/followers_icon.png" alt="">
                    <span class="userTextdata">{{user.followers}}</span>
                </div>
                <div class="userInfobox">
                    <img src="../../../assets/following_icon.png" alt="" style="height: 24px;">
                    <span class="userTextdata">{{user.following}}</span>
                </div>
                <div class="userInfobox">
                    <img src="../../../assets/repositorie_icon.png" alt="">
                    <span class="userTextdata">{{user.public_repos}}</span>
                </div>
            </div>
        </div>
    </div>
    <!-- users repositories ordenado pelo número decrescente de estrelas -->
    <div class="reposInfo">
        <app-barra-de-busca [username]="username"></app-barra-de-busca>
        <div class="espacamento" *ngIf="user">
            <ul>
                <li *ngFor="let repo of user.repo">
                    <p class="repoName">{{ repo.name }}</p>
                    <p>{{ repo.description }}</p>
                    <img src="../../../assets/star_icon.png" alt="">
                    <span class="userTextdata">{{ repo.stargazers_count }}</span>
                </li>
            </ul>
        </div>
    </div>
</div>